*{
    margin: 0;
    padding: 0; 
}

html{

    height: 100%;
}

body{
    background-color: rgb(31, 48, 63);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chess_board {
    width: 80vh;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}


.black{
    background-color: rgb(161, 111, 100);
    width: 10vh;
    height: 10vh;
}

.white{
    background-color: rgb(235, 210, 183);
    width: 10vh;
    height: 10vh;  
}
.piece{
    width: 100%;
}

.yellow{
    background-color: yellow;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body{
        background-color: white;
    }
    .chess_board {
        width: 20vh;
        justify-content: center;
        align-items: center;
        height: 20vh;
        display: flex;
       
    }

    .white{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(235, 210, 183);
        width: 4vh;
        height: 4vh;  
    }

    .black{
        background-color: rgb(161, 111, 100);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4vh;
        height: 4vh;
    }
}